<%= form_for(@approval) do |f| %>
  <% if @approval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@approval.errors.count, "error") %> prohibited this approval from being saved:</h2>

      <ul>
      <% @approval.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :responsible %><br />
    <%= f.text_field :responsible %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :string %><br />
    <%= f.text_field :string %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
